/*
 * This is for styles specific to the App.tsx component
 */

 .wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.page {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  margin-block: 1rem;
}
tr > * {
  border: 2px solid black;
  padding: 1rem;
}
td > h3 {
  margin-block: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
header > * + * {
  width: 80%;
}